%html
  %head
    %link{href: '//fonts.googleapis.com/css?family=Stalinist+One', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/main.css', rel: 'stylesheet', type: 'text/css'}

  %body
    #main-alert.info
      All is well...
    / %button.notify.btn-full-size.btn-negative 
    /   Notify

    %script{src: '//js.pusher.com/1.12/pusher.min.js'}
    %script{src: '/js/jquery.js'}
    %script{src: '/js/jquery-ui.js'}
    %script{src: '/js/main.js'}

